In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
pd.options.mode.chained_assignment = None
import os
import csv

In [3]:
def MACD(df,period1,period2,periodSignal):
    #Formula MACD=EMA de 12 períodos - EMA de 26 períodos
    EMA1 = pd.DataFrame.ewm(df,span=period1).mean()
    EMA2 = pd.DataFrame.ewm(df,span=period2).mean()
    MACD = EMA1-EMA2
    
    Signal = pd.DataFrame.ewm(MACD,periodSignal).mean()
    
    Histogram = MACD-Signal
    
    return Histogram

def stochastics_oscillator(df,period):
    #Formula-%K = (preço de fechamento – menor mínima)/(maior alta – menor mínima)*100
    #%D = Média Móvel Simples de 3 dias da %K
    
    l, h = pd.DataFrame.rolling(df, period).min(), pd.DataFrame.rolling(df, period).max()
    k = 100 * (df - l) / (h - l)
    return k


def ATR(df,period):
    '''
    Metodo A: diferença entre as maximas e minimas
    '''
    df['H-L'] = abs(df['MAXIMA']-df['MINIMA'])
    df['H-PC'] = abs(df['MAXIMA']-df['FECHAMENTO'].shift(1))
    df['L-PC'] = abs(df['MINIMA']-df['FECHAMENTO'].shift(1))
    TR = df[['H-L','H-PC','L-PC']].max(axis=1)
    return TR.to_frame()

In [9]:
def binario():# 3 subir 2 doji 1 descer
    bi=[0]
    for c in range(1,len(pc)):
        if pc.iloc[c,4]>pc.iloc[c-1,4]:
            bi.append(3)
        elif pc.iloc[c,4]<pc.iloc[c-1,4]:
            bi.append(1)
        elif pc.iloc[c,4]==pc.iloc[c-1,4]:
            bi.append(2)
    return bi

bi=pd.DataFrame(binario())
bi.rename(columns={0:'BINARIO'}, inplace=True)
bi.head(-1)

      BINARIO
0           0
1           1
2           3
3           3
4           1
...       ...
5939        3
5940        3
5941        3
5942        3
5943        1

[5944 rows x 1 columns]

In [66]:
dataset=[]
arquivo = open(r'C:\Users\edno2\Desktop\Rede_Binária\GBPAUD_M5.csv')
linhas = csv.reader(arquivo)

for linha in linhas:
    dataset.append(linha[1:5])

for c in range(1,len(dataset)):   
    dataset[c]=[float(i) for i in dataset[c]]

In [67]:
for c in range(0,10):
    print(dataset[c])

['ABERTURA', 'MAXIMA', 'MINIMA', 'FECHAMENTO']
[1.96403, 1.96403, 1.96403, 1.96403]
[1.96358, 1.96497, 1.96358, 1.96472]
[1.96472, 1.9654, 1.96219, 1.96451]
[1.96578, 1.96702, 1.96387, 1.96616]
[1.96479, 1.96515, 1.96471, 1.9648]
[1.96838, 1.97177, 1.96838, 1.97145]
[1.97145, 1.97333, 1.97097, 1.97097]
[1.97068, 1.97429, 1.96951, 1.97375]
[1.97369, 1.97389, 1.97214, 1.97254]

In [68]:
dataset[0].append("BINARIO")
for c in range(2,len(dataset)):
    if dataset[c][0]>dataset[c][-1]: dataset[c-1].append(0)
    elif dataset[c][0]<dataset[c][-1]: dataset[c-1].append(1)
    else: dataset[c-1].append(0.5)

In [69]:
for c in range(0,10): 
    print(dataset[c])

['ABERTURA', 'MAXIMA', 'MINIMA', 'FECHAMENTO', 'BINARIO']
[1.96403, 1.96403, 1.96403, 1.96403, 1]
[1.96358, 1.96497, 1.96358, 1.96472, 0]
[1.96472, 1.9654, 1.96219, 1.96451, 1]
[1.96578, 1.96702, 1.96387, 1.96616, 1]
[1.96479, 1.96515, 1.96471, 1.9648, 1]
[1.96838, 1.97177, 1.96838, 1.97145, 0]
[1.97145, 1.97333, 1.97097, 1.97097, 1]
[1.97068, 1.97429, 1.96951, 1.97375, 0]
[1.97369, 1.97389, 1.97214, 1.97254, 0]

In [70]:
out = csv.writer(open('GBPAUD_tick5_BI_03_10.csv',"w"), delimiter=',')

for c in dataset:
    out.writerow(c)